
@using MoneyMap.Data;
@using MudBlazor;

@inject Cash_Flow_Service CFS;

@if(cash_flows is null){
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>      

}
else { 
    <h7>LATEST TRANSACTIONS</h7>
    <MudLink Href="Cash_Flow_Add">
        <MudTooltip Text="Add Transaction">
            <MudIconButton Icon="@Icons.Material.Outlined.Add" Link="Cash_Flow_add" />
        </MudTooltip>
    </MudLink>
    <MudTooltip Text="View Details">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" 
            @onclick=@(()=>detailedView=!detailedView) Color="Color.Inherit" Class="mr-5" />
    </MudTooltip>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Movement</th>
                    @if(detailedView){
                        <th>TS</th>
                        <th>Details</th>
                    }
                    <th>        
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (Cash_Flow c in cash_flows.OrderByDescending(c => c.movement_date))
                {
                    <tr>
                            
                        <td>@c.description</td>
                        @if(c.movement>0){
                            <td class="text-success">@c.movement</td>
                        }
                        else {
                            <td class="text-danger">@c.movement</td>
                        }
                        @if(detailedView){
                            <td>@c.movement_date</td>
                            <td>@c.detailed_description</td>
                        }
                        <td>
                                @if(detailedView){
                                    <a href="Cash_Flow_Edit/@c.idFlow" >
                                        <MudIconButton Icon="@Icons.Material.Outlined.Edit"/>
                                    </a> 
                                }
                        </td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
}

@code{
    [Parameter]
    public List<Cash_Flow> cash_flows{get;set;}
    
    [Parameter]
     public bool detailedView {get; set;} = false;
}