@page "/MoneyCard"

@if(value > 0){
    <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header">@title</div>
    <div class="card-body text-success">
        <h5 class="card-title">@Math.Round(value,2)</h5>
        <p class="card-text">@text</p>
    </div>
    </div>
}
else{
    <div class="card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">@title</div>
    <div class="card-body text-danger">
        <h5 class="card-title">@Math.Round(value,2)</h5>
        <p class="card-text">@text</p>
    </div>
    </div>
}



@code{
    [Parameter]
    public float value{get;set;}
    [Parameter]
    public string title{get; set;}

    [Parameter]
    public string text{get; set;}
}